<html>
  <body>
    <h1>Bonjour <%= displayName %></h1>
    <p>Merci pour votre inscreptionsur  <%= appName %>,
      <p>S'il vous plaît cliquer sur le lien suivant pour confirmer votre e-mail et activer votre compte:<br>
      <a href="<%= activationLink %>">activer votre compte</a>
      <p>Cordialement,<br>
    <%= appName %> Team
  </body>
</html>